<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Action<sup>+</sup> <span class="">Organisation Humanitaire</span> </h1>
          
          <h2>La crise de l'eau, l'éducation et l'electricité sont massives.
              Mais ensemble, nous pouvons le résoudre.
              Rejoignez " Une Action de <sup>+</sup>, 
              notre communauté de donateurs mensuels, pour apporter chaque mois de le bien-etre aux familles du monde entier.</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Soutenir Un Projet</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Faire un Don</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->